/* Paragraph Section */
#paragraph-container {
  margin-top: 40px;
}

.blank {
  display: inline-block;
  padding: 0 8px;
  background-color: #f2f2f2;
  border: 1px dashed #ccc;
  border-radius: 5px;
  font-style: italic;
  color: #333;
  min-width: 50px;
  text-align: center;
}
